

@model IEnumerable<Patient>


@{
    ViewBag.Title = "Patient List";
}

<div>
    <a asp-controller="Patients" asp-action="Create" type="button" class="btn btn-primary btn-lg btn-block m-2" style="width:300px;">Create New Patient </a>


    <div class="card-deck">
        @foreach (var patient in Model)
        {
            var photoPath = "~/images/" + (patient.PhotoPath ?? "noimage.jpg");
            <div class="card m-3" style="min-width:18rem; max-width:30.5;">
                <div class="card-header">
                    <h3>@patient.PersonId</h3>
                </div>
                <div class="card-header">
                    <h3>@patient.ProblemCategoryId</h3>
                </div>
                <div class="card-header">
                    <h3>@patient.ProblemDescription</h3>
                </div>
                <div class="card-header">
                    <h3>@patient.EmployeeId</h3>
                </div>
                <div class="card-header">
                    <h3>@patient.Date</h3>
                </div>
                
                <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
                <div class="card-footer text-center">
                    <a asp-controller="Employees" asp-action="Details" asp-route-id="@patient.Id" class="btn btn-primary m-1">View</a>
                    <a asp-controller="Employees" asp-action="Edit" asp-route-id="@patient.Id" class="btn btn-primary m-1">Edit</a>
                </div>
            </div>
        }
    </div>
</div>