@model HospitalMMS.Modules.PersonModels.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EUsaer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EUsaer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
